<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Process Simulation</title>
    <!-- Use CDN links for Bootstrap and jQuery -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body class="bg-light">
    <div class="container mt-5 text-center">
      <h1 class="mb-4">Process Simulation</h1>

      <!-- Input fields for the number of processes and process type -->
      <div class="form-group">
        <label for="numProcesses">Number of Processes:</label>
        <input
          type="text"
          class="form-control"
          id="numProcesses"
          placeholder="Enter number of processes"
        />
      </div>

      <div class="form-group">
        <label>Process Type:</label>
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            class="custom-control-input"
            id="processTypeSwitch"
          />
          <label
            class="custom-control-label"
            for="processTypeSwitch"
            data-on="Informed"
            data-off="Uninformed"
          ></label>
        </div>
      </div>

      <button
        id="add-processes-btn"
        class="btn btn-success"
        onclick="addProcesses()"
      >
        Add Processes
      </button>
      <button
        id="clear-processes-btn"
        class="btn btn-danger ml-2"
        onclick="clearProcesses()"
      >
        Clear Processes
      </button>

      <button
        id="simulate-btn"
        class="btn btn-primary ml-2"
        onclick="simulate()"
        disabled
      >
        Simulate
      </button>

      <div
        id="loading-spinner"
        class="spinner-border text-primary mt-3"
        role="status"
        style="display: none"
      >
        <span class="sr-only">Loading...</span>
      </div>

      <!-- Add a new table for the added processes -->
      <div class="mt-4">
        <h3>Added Processes</h3>
        <table id="added-processes-table" class="table"></table>
        <button
          id="clear-all-btn"
          class="btn btn-danger mt-2"
          onclick="clearAllTables()"
        >
          Clear All
        </button>
      </div>

      <div id="simulation-result" class="mt-4">
        <!-- Data will be dynamically populated here -->
      </div>
    </div>

    <script>
      function addProcessesToTable(processList, tableId) {
        var table = document.getElementById(tableId);
        table.innerHTML = "";

        var thead = document.createElement("thead");
        var tr = document.createElement("tr");
        var headers = [
          "Process ID",
          "Arrival Time",
          "Used Memory",
          "Original ID",
          "Golden Runtime",
          "Predicted Burst Time",
          "Waiting Time",
          "Completion Time",
          "Turnaround Time",
        ];
        headers.forEach(function (header) {
          var th = document.createElement("th");
          th.textContent = header;
          tr.appendChild(th);
        });
        thead.appendChild(tr);
        table.appendChild(thead);

        var tbody = document.createElement("tbody");
        processList.forEach(function (process) {
          var tr = document.createElement("tr");
          tr.innerHTML = `
            <td>${process.process_id}</td>
            <td>${process.arrival_time}</td>
            <td>${process.used_memory}</td>
            <td>${process.orig_id}</td>
            <td>${process.golden_burst_time}</td>
            <td>${process.golden_predicted_burst_time}</td>
            <td>${process.waiting_time}</td>
            <td>${process.completion_time}</td>
            <td>${process.turnaround_time}</td>
          `;
          tbody.appendChild(tr);
        });
        table.appendChild(tbody);
      }

      function addProcesses() {
        var numProcesses = $("#numProcesses").val();
        var processType = $("#processTypeSwitch").prop("checked")
          ? "informed"
          : "uninformed";

        // Check if the number of processes is provided
        if (!numProcesses) {
          alert("Please enter the number of processes.");
          return;
        }

        // Send the data to the server for adding processes
        $.ajax({
          url: "/add_processes",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify({
            num_processes: numProcesses,
            process_type: processType,
          }),
          success: function (response) {
            console.log(response);
            // Enable the simulate button after adding processes
            $("#simulate-btn").prop("disabled", false);

            // Add added processes to the table
            addProcessesToTable(response, "added-processes-table");
          },
          error: function (error) {
            console.error("Error:", error);
          },
        });
      }

      function clearProcesses() {
        // Send request to clear processes
        $.ajax({
          url: "/clear_processes",
          type: "GET",
          success: function (response) {
            console.log(response);
            // Disable the simulate button after clearing processes
            $("#simulate-btn").prop("disabled", true);
          },
          error: function (error) {
            console.error("Error:", error);
          },
        });
      }

      // Function to clear both tables
      function clearAllTables() {
        clearProcesses();
        // Clear original simulation result table
        var originalTable = document.getElementById("simulation-result");
        originalTable.innerHTML = "";
      }

      function simulate() {
        // Disable the simulate button
        $("#simulate-btn").prop("disabled", true);
        // Show the loading spinner
        $("#loading-spinner").show();

        // Send the request to simulate
        $.ajax({
          url: "/simulate",
          type: "GET",
          success: function (data) {
            // Update the frontend dynamically using data
            console.log(data);

            // Create a Bootstrap table from the simulation result array
            var table = document.getElementById("simulation-result");
            table.innerHTML = "";

            var thead = document.createElement("thead");
            var tr = document.createElement("tr");
            var th1 = document.createElement("th");
            th1.textContent = "Time";
            var th2 = document.createElement("th");
            th2.textContent = "Event";
            tr.appendChild(th1);
            tr.appendChild(th2);
            thead.appendChild(tr);
            table.appendChild(thead);

            var tbody = document.createElement("tbody");
            for (var i = 0; i < data.simulation_result.length; i++) {
              var tr = document.createElement("tr");
              var td1 = document.createElement("td");
              var roundedDiv = document.createElement("div");
              roundedDiv.style.width = "100%";
              roundedDiv.style.height = "100%";
              roundedDiv.textContent = data.simulation_result[i][0];
              roundedDiv.classList.add(
                "rounded",
                "p-2",
                "bg-secondary",
                "text-white"
              );
              td1.appendChild(roundedDiv);
              var td2 = document.createElement("td");
              td2.textContent = data.simulation_result[i][1];
              tr.appendChild(td1);
              tr.appendChild(td2);
              tbody.appendChild(tr);
            }
            table.appendChild(tbody);
            table.classList.add("table");

            // Enable the simulate button after the simulation is complete
            $("#simulate-btn").prop("disabled", false);
            // Hide the loading spinner
            $("#loading-spinner").hide();

            // Create a Bootstrap table from the process information array
            var processTable = document.getElementById("added-processes-table");
            processTable.innerHTML = "";

            var processThead = document.createElement("thead");
            var processTr = document.createElement("tr");
            var processHeaders = [
              "Process ID",
              "Arrival Time",
              "Used Memory",
              "Original ID",
              "Golden Runtime",
              "Predicted Burst Time",
              "Waiting Time",
              "Completion Time",
              "Turnaround Time",
            ];
            processHeaders.forEach(function (header) {
              var processTh = document.createElement("th");
              processTh.textContent = header;
              processTr.appendChild(processTh);
            });
            processThead.appendChild(processTr);
            processTable.appendChild(processThead);

            var processTbody = document.createElement("tbody");
            for (var j = 0; j < data.process_info.length; j++) {
              var processTr = document.createElement("tr");
              processTr.innerHTML = `
                        <td>${data.process_info[j].process_id}</td>
                        <td>${data.process_info[j].arrival_time}</td>
                        <td>${data.process_info[j].used_memory}</td>
                        <td>${data.process_info[j].orig_id}</td>
                        <td>${data.process_info[j].golden_burst_time}</td>
                        <td>${data.process_info[j].golden_predicted_burst_time}</td>
                        <td>${data.process_info[j].waiting_time}</td>
                        <td>${data.process_info[j].completion_time}</td>
                        <td>${data.process_info[j].turnaround_time}</td>
                    `;
              processTbody.appendChild(processTr);
            }
            processTable.appendChild(processTbody);
          },
          error: function (error) {
            console.error("Error:", error);

            // Enable the simulate button after an error
            $("#simulate-btn").prop("disabled", false);
            // Hide the loading spinner
            $("#loading-spinner").hide();
          },
        });
      }
    </script>
  </body>
</html>
